
body{
	padding:0;
	margin:0;

		
	
	}
ul{
list-style-type:none;
}

	.bookst{
	position:fixed;
	left:87%;/*محاذاه القوائم للصفحه*/
	width:200px;/*عرض القائمه كامل*/
	height:100%;
	background:#5f4944;
}
.bookst header{
	
	font-size:22px;
	color:white;
	text-align:center;
	line-height:70px;
	background:#422828;
	
	user-select:none;
	text-decoration:none;/*مارح يطلع خط*/
}
.bookst ul a{   
list-style-type:none;
text-decoration:none;
text-align:center;
display:block;
height:100px;
width:90%;/* في  النص وكذا التحكم في مكان القوائم*/
line-height:100px;
font-size:20px;
color:white;

border-bottom:1px solid white;
border-height:5px;
transition:.60s;



}

li a:hover{
	background-color:gray;
}

	
	
	
	.s1{
	width:90%;
	height:100%;
	position:fixed;}
	
	
	
	